.content {
  margin: auto;
  width: 85vw;
  max-width: 550px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

button,
a {
  cursor: var(--cursor-pointer), pointer;
}

a,
a:visited {
  color: var(--dark-blue);
}

button {
  background-color: var(--dark-purple);
  color: var(--light-blue);
}

button:disabled {
  background-color: var(--light-purple);
  color: var(--dark-blue);
  cursor: var(--cursor-normal), not-allowed;
}

.focus {
  width: 100%;
}

.issues {
  margin: 10px auto;
  display: grid;
  grid-template-areas:
    "title title"
    "issue issue"
    "avatar labels"
    "assignee assignee";
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 5px;
}

.name {
  grid-area: title;
}

.issue {
  grid-area: issue;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  vertical-align: middle;
  grid-area: avatar;
}

.assignee {
  display: grid;
  grid-area: assignee;
  grid-template-columns: 1fr 3fr;
}


.sm-avatar {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.assign-avatar {
  grid-area: avatar;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.labels {
  background-color: black;
  grid-area: labels;
}

.label {
  border-radius: 50px;
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

.assignment {
  display: grid;
  grid-template-areas:
    "avatar user"
    "issues issues";
  grid-template-columns: 1fr 3fr;
}

.user {
  grid-area: user;
}

.list {
  grid-area: issues;
}

.no-marker {
  list-style: none;
}

.no-marker li {
  margin: auto;
}

.bold {
  font-weight: bold;
}
