<div class="content nes-container with-title is-centered is-rounded">
  <h1>Naomi's Open Issues</h1>
  <p>
    This app is designed to allow you to see all of the open issues across all
    of our organisations. Feel free to use the buttons below to filter issues
    and see what's available!
  </p>
  <p>
    To help you get started, we encourage you to review our
    <a href="https://docs.nhcarrigan.com" target="_blank"
      >contributing guidelines</a
    >
    first. You can also chat with us on our
    <a
      href="https://chat.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >support server</a
    >!
  </p>
  <p>
    Data were updated at:
    <span class="bold">{{
      updatedAt ? updatedAt.toLocaleString() : "loading..."
    }}</span>
  </p>
  <button [disabled]="focusedView === 'issues'" (click)="setView('issues')">
    Issues
  </button>
  <button [disabled]="focusedView === 'pulls'" (click)="setView('pulls')">
    Pulls
  </button>
  <button
    [disabled]="focusedView === 'assignments'"
    (click)="setView('assignments')"
  >
    Assigned Issues
  </button>
  <div
    class="focus nes-container with-title is-centered is-rounded is-dark"
    *ngIf="focusedView === 'issues'"
  >
    <p>Choose an organisation:</p>
    <button
      [disabled]="focusedOrg === 'naomi-lgbt'"
      (click)="filterIssues('naomi-lgbt', focusedLabel)"
    >
      Naomi's Repos
    </button>
    <button
      [disabled]="focusedOrg === 'nhcarrigan'"
      (click)="filterIssues('nhcarrigan', focusedLabel)"
    >
      nhcarrigan
    </button>
    <button
      [disabled]="focusedOrg === 'beccalyria'"
      (click)="filterIssues('beccalyria', focusedLabel)"
    >
      Becca Lyria
    </button>
    <button
      [disabled]="focusedOrg === 'rosalianightsong'"
      (click)="filterIssues('rosalianightsong', focusedLabel)"
    >
      Rosalia Nightsong
    </button>
    <button
      [disabled]="focusedOrg === 'beccalia'"
      (click)="filterIssues('beccalia', focusedLabel)"
    >
      Beccalia
    </button>
    <button
      [disabled]="focusedOrg === 'naomis-novas'"
      (click)="filterIssues('naomis-novas', focusedLabel)"
    >
      Naomi's Nook
    </button>
    <p>Filter by label:</p>
    <button
      [disabled]="focusedLabel === 'good first issue'"
      (click)="filterIssues(focusedOrg, 'good first issue')"
    >
      Good First Issues
    </button>
    <button
      [disabled]="focusedLabel === 'help wanted'"
      (click)="filterIssues(focusedOrg, 'help wanted')"
    >
      Open for Contribution
    </button>
    <button
      [disabled]="focusedLabel === ''"
      (click)="filterIssues(focusedOrg, '')"
    >
      All Issues
    </button>
  </div>
  <div *ngIf="focusedView === 'pulls'">
    <p>Choose an organisation:</p>
    <button
      [disabled]="focusedOrg === 'naomi-lgbt'"
      (click)="filterPulls('naomi-lgbt', focusedLabel)"
    >
      Naomi's Repos
    </button>
    <button
      [disabled]="focusedOrg === 'nhcarrigan'"
      (click)="filterPulls('nhcarrigan', focusedLabel)"
    >
      nhcarrigan
    </button>
    <button
      [disabled]="focusedOrg === 'beccalyria'"
      (click)="filterPulls('beccalyria', focusedLabel)"
    >
      Becca Lyria
    </button>
    <button
      [disabled]="focusedOrg === 'rosalianightsong'"
      (click)="filterPulls('rosalianightsong', focusedLabel)"
    >
      Rosalia Nightsong
    </button>
    <button
      [disabled]="focusedOrg === 'beccalia'"
      (click)="filterPulls('beccalia', focusedLabel)"
    >
      Beccalia
    </button>
    <button
      [disabled]="focusedOrg === 'naomis-novas'"
      (click)="filterPulls('naomis-novas', focusedLabel)"
    >
      Naomi's Nook
    </button>
  </div>
</div>
<div *ngIf="!loaded">Issues are loading...</div>
<div *ngIf="focusedView === 'issues'">
  <div
    class="issues content nes-container with-title is-centered is-rounded"
    *ngFor="let issue of filteredIssues"
  >
    <img class="avatar" src="{{ issue.user.avatar_url }}" />
    <p class="name">
      <a href="{{ issue.url }}" target="_blank">{{ issue.title }}</a>
    </p>
    <p class="issue">
      {{
        issue.repository_url
          .split("/")
          .reverse()
          .slice(0, 2)
          .reverse()
          .join("/")
      }}
      #{{ issue.number }}
    </p>
    <section class="assignee" *ngIf="issue.assignee">
      <img class="sm-avatar" src="{{ issue.assignee.avatar_url }}" />
      <p>Assigned to: {{ issue.assignee.login }}</p>
    </section>
    <section
      class="labels nes-container with-title is-centered is-rounded is-dark"
      *ngIf="issue.labels.length"
    >
      <span
        class="label"
        *ngFor="let label of issue.labels"
        style="{{ getColour(label.color) }}"
        >{{ label.name }}</span
      >
    </section>
  </div>
</div>
<div *ngIf="focusedView === 'pulls'">
  <div
    class="issues content nes-container with-title is-centered is-rounded"
    *ngFor="let issue of filteredPulls"
  >
    <img class="avatar" src="{{ issue.user.avatar_url }}" />
    <p class="name">
      <a href="{{ issue.url }}" target="_blank">{{ issue.title }}</a>
    </p>
    <p class="issue">
      {{ issue.url.split("/").reverse().slice(2, 4).reverse().join("/") }}
      #{{ issue.number }}
    </p>
    <section
      class="labels nes-container with-title is-centered is-rounded is-dark"
    >
      <span
        class="label"
        *ngFor="let label of issue.labels"
        style="{{ getColour(label.color) }}"
        >{{ label.name }}</span
      >
    </section>
  </div>
</div>
<div
  class="content nes-container with-title is-centered is-rounded"
  *ngIf="focusedView === 'assignments'"
>
  <p>
    This view shows which users have issues assigned to them. This can be
    helpful if you want to check what issues you are working on, or if you want
    to find a contributor to pair with.
  </p>
  <div class="assignment nes-container with-title is-centered is-rounded is-dark" *ngFor="let assignment of assignments">
    <img class="assign-avatar" src="{{ assignment.avatar }}" />
    <p class="user">{{ assignment.username }} is assigned:</p>
    <details class="list">
      <summary>{{ assignment.issues.length }} issues</summary>
      <ul class="no-marker">
        <li *ngFor="let issue of assignment.issues">
          <a href="{{ issue.url }}">
            {{ issue.url.split("/").reverse().slice(2, 4).reverse().join("/") }}
            #{{ issue.number }}</a
          >
        </li>
      </ul>
    </details>
  </div>
</div>
